 <div class="p-3">
    <h1 id="bookings_title">Your bookings</h1>
    <div data-bs-spy="scroll" data-bs-target="post-module" class="box">
      <%current_user.bookings.each do |booking| %>
        <div id="ernesto-container">
          <!-- booking card-->
          <div class="column">
            <div class="post-module">
              <div class="thumbnail">
                <%# logo card %>
                <div class="img-card">
                    <% if booking.car.photo.key %>
                      <%= cl_image_tag booking.car.photo.key %>
                    <% else%>
                      <img src="https://source.unsplash.com/random/500×300/?car" alt="car" width="600 px">
                    <%end%>
                </div>
              </div>
              <!--Content-->
              <div class="post-content">
                <div class="category"><%=booking.car.model%></div>
                <div class="info-card">
                  <h1 class="title">Your <%=booking.car.manufacturer%> is waiting for you</h1>
                  <p>You can pick up your car on <%=booking.start_date%> and return it on <%=booking.start_date%> </a></p>

                </div>
                <p> £<%=booking.total_price%></p>
                <button class="btn btn-primary">Message <%= booking.car.user.name%></button>
                <%# <p>Please contact <%= booking.car.user.email%>
                <%# <div class="post-meta"><span class="comments"><i class="fa fa-comments"></i><a href="#">39 comments</a></span></div> %>
              </div>
            </div>
          </div>
        </div>
      <%end %>
    </div>
  </div>
