<div class="buttons-container">
  <div class="arrow-box">
    <i class="fa-solid fa-arrow-left"></i>
    <%=link_to "Back to car list", cars_path, class: "btn btn-light"%>
  </div>
  <div class="user-options">
    <%if current_user == @car.user%>
      <%=link_to "Edit this car", edit_car_path, class: "btn btn-light" %>
      <%= link_to "Remove your car listing", car_path(@car), class: "btn btn-light", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    <%end%>
  </div>
</div>
<div id="car-page-all">
  <div class="card-trip">
    <% if @car.photo.key %>
      <%= cl_image_tag @car.photo.key %>
    <% else%>
      <img src="https://source.unsplash.com/random/500×300/?car" alt="car" width="600 px">
    <%end%>
  </div>
  <div class="card-trip-infos">
    <p>Make: <%= @car.manufacturer.upcase%></p>
    <p>Model: <%= @car.model %></p>
    <p>Year: <%= @car.year %></p>
    <p>Category: <%= @car.category %></p>
    <p>Daily Price: £<%= @car.day_price %></p>
    <%=link_to "Book this car", new_car_booking_path(@car), class: "btn btn-primary" %>
  </div>
  <div>
    <%= render partial: '/cars/user_card', locals: {car: @car}%>
  </div>
</div>


   <%if current_user == @car.user%>
     <%@bookings.each do |booking| %>
      <ul>
        <li><%=booking.total_price%></li>
        <li><%=booking.start_date%></li>
        <li><%=booking.end_date%></li>
      </ul>
      <%end %>
   <%end%>
