<div class="p-3">
  <h1><%=@car.manufacturer + " " + @car.model%></h1>
    <% if @car.photo.key %>
      <%= cl_image_tag @car.photo.key %>
    <% else%>
      <img src="https://source.unsplash.com/random/500×300/?car" alt="car">
    <%end%>
  <p>Make: <%= @car.manufacturer %></p>

  <p>Model: <%= @car.model %></p>
  <p>Year: <%= @car.year %></p>
  <p>Category: <%= @car.category %></p>
  <p>Daily Price: £<%= @car.day_price %></p>

  <%=link_to "Book this car", new_car_booking_path(@car), class: "btn btn-primary" %>
  <br>
  <br>
  <br>
  <%=link_to "Back to car list", cars_path%>
</div>
