<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid collapse navbar-collapse" id="navbarSupportedContent">

    <div class="nav-item" id="left-div">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "cars_black.png" %>
      <h5 class="logo-font">LEGEND CARS</h5>
      <% end %>
    </div>

    <div class="nav-item">
      <%= form_with url: cars_path, method: :get, class: "rounded d-flex input-group" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id: "search-bar",
          placeholder: "Audi Quattro, Jaguar E-Type, Aston Martin DB5"
        %>
        <%= submit_tag "Find a car", class: "btn btn-outline-primary", id:"button-search" %>
        <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent right-div">
      <div class="nav-item justify-content-end dropdown">
      <div class="dropdown dropdown-toggle d-flex align-items-center pointer"  id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <h6 id="your-account" class="mb-0 p-3">Your Account</h6>
        <%= image_tag "https://cdn-icons-png.flaticon.com/512/149/149452.png", class: "avatar"%>
      </div>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "My Profile", user_session_path, class: "dropdown-item" %>
        <%= link_to "Your Bookings", bookings_path, class: "dropdown-item" %>
        <%= link_to "Your Cars", your_cars_path, class: "dropdown-item" %>
        <%= link_to "Rent out your car", new_car_path, class: "dropdown-item" %>
      </div>
      </div>
   </div>
  </div>
</div>
